.searchSection {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;

  button {
    height: 100%;
  }

  input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

@media screen and (max-width: 385px) {
  .searchSection {
    button {
      height: auto;
      width: 100%;
      border-radius: 0;
    }

    input {
      width: 100%;
    }

    form {
      div {
        width: 100%;
      }
    }
  }
}
