.App-header {
  background-color: #48484a;

  h3 {
    display: flex;
    justify-content: center;
    font-size: larger;
    margin: 0;
    padding: 0;
    color: #f2f2f2;
    height: 50px;
    align-items: center;
  }
}
